module.exports =
  internalPort: 3000
  publicPort: 3000
  domain: 'gdevbot.dev'

  twitter:
    consumerKey: ''
    consumerSecret: ''
    accessToken : ''
    accessTokenSecret: ''
    userId: ''
    username: ''
    enableReplies: false
