module.exports =
  internalPort: 
  publicPort: 
  domain: 

  twitter:
    consumerKey: 
    consumerSecret: 
    accessToken : 
    accessTokenSecret: 
    userId: 
    username: 
    enableReplies: 
