doctype html
html
  head
    title #{projectId} - gdevbot
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,700',rel='stylesheet',type='text/css')
    style.
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }

      html, body { height: 100%; }

      body {
        background: #000;
      }

      canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      } 

      #Loader {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #ccc;
        font-family: 'Roboto';
        font-size: 18px;
        text-align: center;
      }

      #Loader h1, #Loader p, #Loader pre {
        margin-top: 1em;
      }

      #Loader pre {
        background: rgba(255,255,255,0.1);
        padding: 0.75em;
        border-radius: 0.5em;
      }

      #Loader pre mark {
        background: rgba(255, 255, 0, 0.4);
      }

      #Loader a {
        color: #fff;
      }

      #Loader a:hover {
        text-decoration: none;
      }

      #ProjectLogLink {
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0.5;
        padding: 0.5em;
      }

      #ProjectLogLink img { width: 36px; height: 36px; }
      #ProjectLogLink:hover { opacity: 0.8; }
      #ProjectLogLink:active { opacity: 1.0; }

    script!=javascript

  body
    block content
    // Those two games don't have a log because they were built a while ago
    if projectId.toLowerCase() != 'flap' && projectId.toLowerCase() != 'djump'
      a(href="/p/#{projectId}/edit",target="_blank")#ProjectLogLink!= imgEmoji(":newspaper:")