doctype html
html
  head
    title #{projectId} - gdevbot
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,700',rel='stylesheet',type='text/css')
    style.
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }

      html, body { height: 100%; }

      body {
        background: #000;
        display: flex;
        flex-direction: row;
      }

      iframe {
        flex: 1;
        position: relative;
        border: none;
      }

      aside {
        font-family: 'Roboto';
        font-size: 18px;
        width: 400px;
        background: #eee;
        color: #444;
        overflow-y: scroll;
      }

      aside h1 {
        font-size: 18px;
        text-transform: uppercase;
        margin-top: 0.5em;
        padding: 0 1em;
        color: #888;
      }

      aside a {
        color: #37f;
      }

      aside a:hover {
        text-decoration: none;
      }

      aside ul {
        list-style: none;
        padding: 0 1em;
      }

      aside li {
        margin-bottom: 1em;
      }

      aside blockquote {
        padding: 0.5em;
        background: #fff;
        margin: 0.5em 0;
        border-radius: 5px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.3);
      }

      aside .Emoji { width: 24px; height: 24px; vertical-align: bottom; }
      aside .Response { padding: 0.5em; border-radius: 0em 0 0.5em 0.5em; margin: 0 0.5em; }
      aside .Failed .Response { background: rgba(255,0,0,0.25) }
      aside .Successful .Response { background: rgba(0,255,0,0.15) }

      aside .twitter-tweet { margin-bottom: 0 !important; }

      nav {
        display: flex;
        background: #e0e0e0;
        justify-content: center;
        width: 100%;
      }

      nav a {
        display: block;
        text-align: center;
        padding: 0.5em;
        text-transform: uppercase;
      }

    script!=javascript

  body
    iframe(src="/p/#{projectId}")
    aside
      nav
        a(href="/",target="_blank") Home
        a(href="/commands",target="_blank") Commands
        a(href="/emoji",target="_blank") Emoji script

      h1 #{projectId} log 
        span#Watchers

      ul.Log
      script(src="//platform.twitter.com/widgets.js",charset="utf-8")
      script(src="/socket.io/socket.io.js")
      script(src="/js/projectLog.js")