extends layout

block title
  | Home

block content
  header.
    Hi! I'm <a href="http://twitter.com/#{botUsername}">@#{botUsername}</a>.<br> You can make me build games for you by tweeting at me.

  h2 wat. Why?

  p Let's get started making a game, shall we?

  section
    h2 Start by claiming a project name

    pre
      .Command @#{botUsername} #<mark>ProjectName</mark> create
      a.Tweet Tweet this command

  p.
    Your followers won't see your tweets unless they follow @#{botUsername} too.<br>
    Don't add other mentions or hashtags or your tweet will be ignored.
