extends layout

block content
  p Hi, I'm <a href="http://twitter.com/gdevbot">@gdevbot</a>. You can make me build games for you by tweeting at me. Crazy cool, right?

  h2 I... huh, what? why?

  p Let's get started making a game, shall we?

  section
    h2 Start by claiming a project name

    pre
      .Command @#{botUsername} #<mark>ProjectName</mark> create
      a.Tweet Tweet this command

  p.
    You can put the mention and the project hashtag anywhere in the tweet.<br>
    Don't mention anyone else or add more hashtags, lest your tweet be ignored.

