doctype html
html
  head
    title 
      block title
        | @gdevbot
    meta(name="viewport",content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, user-scalable=0")
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,700',rel='stylesheet',type='text/css')
    style.
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }

      body {
        font-family: 'Roboto';
        font-size: 18px;

        width: 800px;
        margin: 2em auto;

        background: #eee;
        color: #444;

        overflow-y: scroll;
      }

      a {
        color: blue;
      }

      a:hover {
        text-decoration: none;
      }

      h1 {
        display: flex;
        line-height: 1;
        height: 64px;
      }

      h1 img {
        vertical-align: middle;
        width: 64px;
        height: 64px;
        margin-right: 0.5em;
        background: #ccc;
        border-radius: 0.25em;
      }

      h1 a { display: none; }

      nav {
        float: right;
      }

      nav a {
        display: inline-block;
        text-transform: uppercase;
        margin: 0 0.25em;
        padding: 0.5em 1em;
        text-decoration: none;
        background: #ddd;
        border-radius: 0.5em;
        color: #666;
        font-weight: bold;
      }

      nav a:last-of-type {
        margin-right: 0;
      }

      nav a:hover {
        background: #dadada;
        color: #444;
      }

      nav a:active {
        background: #ccc;
        color: #fff;
      }

      h2, p { margin-top: 1em; }
      pre { margin-top: 0.5em; padding: 0.5em; background: #e0e0e0; border-radius: 0.5em; position: relative; }
      pre.NotYetImplemented:after {
        position: absolute;
        top: 0; right: 0;
        padding: 0.25em;
        content: 'Soon';
        font: bold 100% 'Roboto';
        font-size: 80%;
        background: #f68;
        border-radius: 0.5em;
        -webkit-transform: translateX(20px) translateY(-10px) rotateZ(5deg);
        -moz-transform: translateX(20px) translateY(-10px) rotateZ(5deg);
        transform: translateX(20px) translateY(-10px) rotateZ(5deg);
      }

      pre .Tweet {
        position: absolute;
        top: 0; right: 0;
        padding: 0.25em 0.5em;
        font: bold 100% 'Roboto';
        font-size: 80%;
        background: #8f6;
        border-radius: 0.5em;
        -webkit-transform: translateX(20px) translateY(-10px) rotateZ(5deg);
        -moz-transform: translateX(20px) translateY(-10px) rotateZ(5deg);
        transform: translateX(20px) translateY(-10px) rotateZ(5deg);
        cursor: pointer;
        color: inherit;
        text-decoration: none;
      }

      pre .Tweet:hover {
        background: #6e5;
        color: #000;
        box-shadow: 0 0 1em rgba(255,255,255,0.5);
      }

      pre .Tweet:active {
        background: #3b1;
        color: #fff;
        box-shadow: 0 0 1em rgba(255,255,255,0.5);
      }

  body
    nav
      a(href="/") Home
      a(href="/commands") Commands
      a(href="/emoji") Emoji code

    h1
      img(src="https://pbs.twimg.com/profile_images/474536274435391488/nf4WB0wW.png")
      div
        div
          block title
        <a href="https://twitter.com/gdevbot" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @gdevbot</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    block content

    script(src="/js/tweetCommand.js")
