doctype html
html
  head
    title 
      block title
      |  &mdash; @#{botUsername}
    block extrahead
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,700',rel='stylesheet',type='text/css')
    style.
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }

      body {
        font-family: 'Roboto';
        font-size: 18px;

        width: 1120px;
        padding-right: 160px;
        margin: 2em auto;
        overflow-x: hidden;

        background: #eee;
        color: #444;

        overflow-y: scroll;

        display: flex;
      }

      a {
        color: #37f;
      }

      a:hover {
        text-decoration: none;
      }

      nav {
        text-align: right;
        width: 160px;
      }

      nav img {
        vertical-align: middle;
        margin-top: 1em;
        margin-right: 0.5em;
        background: #ccc;
        border-radius: 0.25em;
      }

      nav ul a {
        display: block;
        text-transform: uppercase;
        padding: 0.125em 0.5em;
        text-decoration: none;
        color: #666;
        font-weight: bold;
      }

      nav li {
        list-style: none;
      }

      nav ul a.Active {
        text-decoration: underline;
      }

      nav ul a:hover {
        background: #dadada;
        color: #444;
      }

      nav ul a:active {
        background: #ccc;
        color: #fff;
      }

      footer {
        margin-top: 1em;
        color: #888;
        font-size: smaller;
        margin-right: 0.5em;
      }

      footer a {
        color: #666;
      }

      #Page { flex: 1; margin: 0 0.5em; }

      h2, p { margin-top: 1em; }
      pre { margin-top: 0.5em; padding: 0.5em; background: #e0e0e0; border-radius: 0.5em; position: relative; }
      pre.NotYetImplemented:after {
        position: absolute;
        top: 0; right: 0;
        padding: 0.25em;
        content: 'Soon';
        font: bold 100% 'Roboto';
        font-size: 80%;
        background: #f68;
        border-radius: 0.5em;
        -webkit-transform: translateX(20px) translateY(-10px) rotateZ(5deg);
        -moz-transform: translateX(20px) translateY(-10px) rotateZ(5deg);
        transform: translateX(20px) translateY(-10px) rotateZ(5deg);
      }

      pre .Tweet {
        position: absolute;
        top: 0; right: 0;
        padding: 0.25em 0.5em;
        font: bold 100% 'Roboto';
        font-size: 80%;
        background: #8f6;
        border-radius: 0.5em;
        -webkit-transform: translateX(20px) translateY(-10px) rotateZ(5deg);
        -moz-transform: translateX(20px) translateY(-10px) rotateZ(5deg);
        transform: translateX(20px) translateY(-10px) rotateZ(5deg);
        cursor: pointer;
        color: inherit;
        text-decoration: none;
      }

      pre .Tweet:hover {
        background: #6e5;
        color: #000;
        box-shadow: 0 0 1em rgba(255,255,255,0.5);
      }

      pre .Tweet:active {
        background: #3b1;
        color: #fff;
        box-shadow: 0 0 1em rgba(255,255,255,0.5);
      }

      span[contenteditable="true"], mark[contenteditable="true"] {
        display: inline-block;
        min-width: 1em;
      }

      span[contenteditable="true"]:empty:not(:focus):before, mark[contenteditable="true"]:empty:not(:focus):before {
        content: attr(data-placeholder);
        opacity: 0.5;
      }

  body
    nav
      .Container
        ul
          for entry in menu
            - var entryClass = (entry.path == path) ? 'Active' : ''
            li
              a(href=entry.path,class=entryClass)= entry.title

        img(src="https://pbs.twimg.com/profile_images/474536274435391488/nf4WB0wW.png")

        footer
          p.
            Crafted by <a href="http://twitter.com/elisee">Elisée</a><br>
            from <a href="http://sparklinlabs.com/">Sparklin Labs</a>.

          p(style="height: 18px;")
            <a href="https://twitter.com/elisee" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @elisee</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

          p Check out<br><a href="https://bitbucket.org/sparklinlabs/gdevbot">the source</a>.

    #Page
      block content

    script(src="/js/tweetCommand.js")
